[Desktop Entry]
Type=Application
Name=Flutter ICS Homescreen
Comment=Automotive Grade Linux Homescreen
Exec=/opt/flutter-ics-homescreen/flutter-ics-homescreen
Icon=flutter-ics-homescreen
Terminal=false
Categories=AGL;System;
X-AGL-Application=homescreen
X-AGL-Default=true
